{% extends "settings/settings.html" %}
{% from "list_generators.html" import generate_credential_list %}
{% set active_menu = 'credentials' %}
{% block menu_content %}
    <div class="container">
        {% if credential_database_locked %}
            <div>
                Credential database locked
                <p></p>
                <button type="button" class="btn btn-success">Unlock</button>
            </div>
        {% else %}
            <div>
                Credential database unlocked
                <button type="button" class="btn btn-danger">Lock</button>
            </div>
        {% endif %}
    </div>

   {{ generate_credential_list(credential_list) }}
{% endblock menu_content %}