{% extends "settings/settings.html" %}
{% from "list_generators.html" import generate_credential_list %}
{% from "menu_generator.html" import generate_action_menu %}
{% set active_menu = 'credentials' %}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/settings/credentials/_delete') }}
    <div class="container">
        {% if credential_database_locked %}
            <div>
                Credential database locked
                <p></p>
                <button type="button" class="btn btn-success">Unlock</button>
            </div>
        {% else %}
            <div>
                Credential database unlocked
                <button type="button" class="btn btn-danger">Lock</button>
            </div>
        {% endif %}
    </div>
    {{ generate_credential_list(credential_groups) }}
{% endblock menu_content %}