{% extends "app_layout.html" %}
{% set active_tab = "settings" %}
{% set menu_list = [
    (url_for('settings.account'), 'account', 'Account'),
    (url_for('settings.system'), 'system', 'System'),
    (url_for('settings.plugins'), 'plugins', 'Plugins'),
    (url_for('settings.credentials'), 'credentials', 'Credentials'),
    (url_for('settings.processes'), 'processes', 'Processes')
] -%}
{% from "menu_generator.html" import generate_menu, generate_sidebar %}
{% block tab_content %}
    {{ generate_menu(menu_list, active_menu, 'Settings') }}
    <div class="flex-wrapper">
        <div class="flex-col menu-content">
            {% block menu_content %}
            {% endblock menu_content %}
            {#{{ render_flashed_messages() }}#}
            {{ render_flashed_messages_snack() }}
        </div>
        {{ generate_sidebar() }}
    </div>
{% endblock tab_content %}