################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs/Uniback
/.vscode
/notes
/test2
/__pycache__
/uniback/blueprints/backup/__pycache__
/uniback/blueprints/jobs/__pycache__
/uniback/blueprints/main/__pycache__
/uniback/blueprints/repositories/__pycache__
/uniback/blueprints/restore/__pycache__
/uniback/blueprints/system/__pycache__
/uniback/blueprints/users/__pycache__
/uniback/db_interfaces/__pycache__
/uniback/dictionary/__pycache__
/uniback/misc/__pycache__
/uniback/models/__pycache__
/uniback/static/jstree/jstree.js
/uniback/static/jstree/themes/custom/style.css
/uniback/static/jstree/themes/default/style.css
/uniback/static/jstree/themes/default-dark/style.css
/uniback/static/noty/demo
/uniback/tools/__pycache__
/uniback/ub_logging/__pycache__
/uniback/__pycache__
*.sln
*.user
*.pyproj
/add_demo_credentials.py
