{% extends "repositories/repositories.html" %}
{% set active_menu = "physical_locations" %}
{% from "menu_generator.html" import generate_action_menu, generate_sidebar %}
{% from "list_generators.html" import generate_physical_location_list %}
{% set action_menu_list = {
    '0': [
    ],    
    '1': [
        {'action_name': 'Delete', 'action': 'delete', 'icon': ''},
        {'action_name': 'Edit', 'action': 'edit', 'icon': ''}
    ],
    '2': [
        {'action_name': 'Delete', 'action': 'delete', 'icon': ''}
    ],
    '3': [
        {'action_name': 'Add', 'action': 'add', 'icon': ''}
    ]
}
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/repositories/physical_locations/') }}
    {{ generate_physical_location_list(locations) }}
{% endblock menu_content %}