{% extends "repositories/repositories.html" %}
{% set active_menu = "repository_list" %}
{% block menu_content %}
    {% if not form %}
        <div class="engine">
            <form id="engine-select-form" method="POST">
                <select name="engine-select">
                    {% for engine, engine_name in available_engines %}
                        <option value="{{ engine }}">{{ engine_name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Next" /> 
            </form>            
        </div>
    {% else %}
        <form class="ub-form" method="POST" action="" enctype="multipart/form-data"><!-- enctype required for images or something -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Repository Attributes</legend>
                {% for item in form %}
                    {# we do not want to put the submit field in the for loop as it might
                        appear out of order instead of the bottom. #}
                    {% if item.id != 'csrf_token' and item.id != 'submit'%}
                        <div class="form-group">
                            {{ item.label(class="form-control-label") }}
                            {% if item.errors %}
                            {{ item(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in item.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ item(class="form-control") }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    {{ form.submit.label(class="form-control-label") }}
                    {{ form.submit(class="form-control") }}
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock menu_content %}