{% extends "backup/backup.html" %}
{% set active_menu = "job_history" %}
{% from "menu_generator.html" import generate_action_menu, generate_sidebar %}
{% from "list_generators.html" import item_select_script %}
{% set action_menu_list = [
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/jobs/job_history/') }}
    <span class="list-group-header">
        <div class="list-content col-1">Check</div>
        <div class="list-content col-1">Status</div>
        <div class="list-content col-2">Name</div>
        <div class="list-content col-2">Engine</div>
        <div class="list-content col-2">Time Elapsed</div>
    </span>
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item" id="{{item['id']}}">
                <div class="list-checkbox-div">
                    {# autocomplete=off so that checkbox doesn't stay checked after refresh #}
                    <input type="checkbox" class="list-checkbox" autocomplete="off" value="{{item['id']}}" id="{{item['id']}}-box">
                </div>
                <div class="list-content-group">
                    <div class="inline-list-content col-1">
                        {{item['status']}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{item['name']}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{item['engine']}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{item['time_elapsed']}}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {# we can keep the same info script as the one under the jobs
        tab #}
    {{ item_select_script('/jobs/job_history/_get_history_info') }}
{% endblock menu_content %}