<!-- Main layout for the application. Mainly created so that the login page could be separated yet retain
    all the necessary packages like bootstrap, etc. -->
{% extends "global_layout.html" %}
{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='app_layout.css') }}">
<header class="global-header">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <!-- <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a> -->
            <ul class="nav nav-pills col-md-9">
                <li class="active col-md-2"><a href="#">Dashboard</a></li>
                <li class="col-md-2"><a href="#">Backup</a></li>
                <li class="col-md-2"><a href="#">Restore</a></li>
                <li class="col-md-2"><a href="#">Repositories</a></li>
                <li class="col-md-2"><a href="#">Settings</a></li>
            </ul>
            <a class="nav-item nav-link col-md-3" href="{{ url_for('users.logout') }}">Logout</a>
        </div>
    </nav>
</header>
<body>
    {% block content %}{% endblock content%}
    <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
{% endblock app_content %}