{# Main layout for the application. Mainly created so that the login page could be separated yet retain
    all the necessary packages like bootstrap, etc. #}
{% extends "global_layout.html" %}
{% block app_content %}
{% import "navigation_bar.html" as navigation_bar %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='app_layout.css') }}">
<body>
    <header class="app-header">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                {{ navigation_bar.render_navigation_pills(navigation_bar.navigation_pills, active_tab) }}
                <a class="nav-item nav-link col-md-1 offset-md-5" href="{{ url_for('users.logout') }}">Logout</a>
            </div>
        </nav>
    </header>

    {% block tab_content %}
    {% endblock tab_content%}

    <div class="col-md-8">
        {{ render_flashed_messages() }}
    </div>
</body>
{% endblock app_content %}