{% macro generate_list(items) %}
    <ul class="list-group">
        {% for subitems in items %}
            <li class="list-group-item mt-1">
                {% for item in subitems %}
                    {% if item["display-type"] == "break" %}
                        <p></p>
                    {% elif item["display-type"] == "info" %}
                        <div class="col-md-{{item['width']}} {{item['element-class']}} list-content">
                            {{item['display-data']}}
                        </div>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro generate_credential_list(groups) %}
    <ul class="list-group">
        {% for group in groups %}
            <li class="list-group-item mt-1" id="{{group['group_id']}}">
                <div class="list-checkbox-div">
                    <input type="checkbox" class="list-checkbox" value="{{group['group_id']}}" id="{{group['group_id']}}-box">
                </div>
                <div class="list-content-group">
                    <div class="list-content">
                        Service name: {{group['service_name']}}<br>
                        Description: {{group['description']}}
                    </div>
                    {# will probably not display credentials in the list
                    {% for credential in group['credentials'] %}
                        <div class="list-content col-md-10">
                            {{credential.credential_role}}: {{credential.credential_data}}
                        </div>
                    {% endfor %}#}
                </div>
            </li>
        {% endfor %}
    </ul>
    {{ item_select_script('/settings/credentials/_get_item_info') }}
{% endmacro %}

{% macro item_select_script(info_script_location) %}
<script>
    var listGroupItemBGColor =  $( ".list-group-item" ).css( "background-color" );
    $( ".list-content-group").click(function() {
        deselectAllItems();
        var groupId = $(this).parent().attr("id");
        $( "#" + groupId + "-box" ).prop( "checked", true );
        $( "#" + groupId + "-box" ).change();
    });

    $( ".list-checkbox" ).change(function() {
        if ($(this).prop( "checked" ) == true) {
            startLoader();
            getItemInfo($(this).val());
        }
        else  {

        }
    });

    $( ".list-content-group" ).hover(function() {
        //var previousColor = $( ".list-content-group" ).parent().css( "background-color" );
        $( this ).parent().css( "background-color", "#7676a1" )
    }, function() {
        $( this ).parent().css( "background-color", listGroupItemBGColor )
    });

    $( ".list-content-group" ).mousedown(function() {
        $( this ).parent().css( "transform", "scale(0.99)" );
    });

    $( ".list-content-group" ).mouseup(function() {
        $( this ).parent().css( "transform", "scale(1)" );
    });
    function deselectAllItems() {
        $( "input:checkbox" ).prop( "checked", false );
        //$( ".list-checkbox" ).change();
    };

    function getItemInfo(item_id) {
        $.get($SCRIPT_ROOT + "{{info_script_location|safe}}", {
                    id: item_id
                }, function(data) {
                    populateSidebar(data);
                }
            );
    }

    function populateSidebar(data) {
        $( ".sidebar-content").empty();
        /*for (const [ key, value ] of Object.entries(info_dict)) {
            $( ".sidebar-content" ).append( "<p>" + key + ": " + value + "</p>");
        }*/
        $( ".sidebar-content" ).append( data );
    }

    function startLoader() {
        $( ".sidebar-content").empty();
        $( ".sidebar-content" ).append( "<div class='lds-dual-ring'></div>")
    }
</script>
{% endmacro %}

{% macro generate_saved_jobs_list(jobs) %}
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item mt-1" id="{{group['job_id']}}">
                <div>
                    Name: {{job['name']}}
                    Notes: {{job['notes']}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro generate_job_queue_list(jobs) %}
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item mt-1" id="{{group['job_id']}}">
                <div>
                    Name: {{job['name']}}
                    Notes: {{job['notes']}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}