{% macro generate_list(items) %}
    <ul class="list-group">
        {% for subitems in items %}
            <li class="list-group-item mt-1">
                {% for item in subitems %}
                    {% if item["display-type"] == "break" %}
                        <p></p>
                    {% elif item["display-type"] == "info" %}
                        <div class="col-md-{{item['width']}} {{item['element-class']}} list-content">
                            {{item['display-data']}}
                        </div>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro generate_credential_list(groups) %}
    <ul class="list-group">
        {% for group in groups %}
            <li class="list-group-item" id="{{group['group_id']}}">
                <div class="list-checkbox-div">
                    {# autocomplete=off so that checkbox doesn't stay checked after refresh #}
                    <input type="checkbox" class="list-checkbox" autocomplete="off" value="{{group['group_id']}}" id="{{group['group_id']}}-box">
                </div>
                <div class="list-content-group">
                    <div class="list-content col-15">
                        Service name: {{group['service_name']}}<br>
                        Description: {{group['description']}}
                    </div>
                    {# decided against displaying credentials directly in the list items for now
                        {% for credential in group['credentials'] %}
                            <div class="list-content col-md-10">
                                {{credential.credential_role}}: {{credential.credential_data}}
                            </div>
                        {% endfor %}
                    #}
                </div>
            </li>
        {% endfor %}
    </ul>
    {{ item_select_script('/settings/credentials/_get_item_info') }}
{% endmacro %}

{% macro item_select_script(info_script_location) %}
<script>
    $( ".list-checkbox-div" ).css("display", "block");
    $( ".list-content-group" ).click(function() {
        var groupId = $(this).parent().attr("id");
        // get the value of the clicked item's checkbox so we can check it
        // when deciding whether to deselect it
        var itemChecked = $( "#" + groupId + "-box" ).prop( "checked" )
        deselectAllItems();
        if (itemChecked)
        {
            $( "#" + groupId + "-box" ).prop( "checked", false );
        } else {
            $( "#" + groupId + "-box" ).prop( "checked", true );
        }
        $( "#" + groupId + "-box" ).change();
    });

    $( ".list-checkbox" ).change(function() {
        var checkedItems = getCheckedItemIds();
        if ($(this).prop( "checked" ) == true) {
            if (checkedItems.length == 1) {
                startLoader();
                getItemInfo($(this).val());
            } else {
                emptySidebar();
            }
            // if checkbox checked, we highlight the item itself
            $( ".list-group-item[id='" + $( this ).val() + "']" ).addClass( 'active' );
        }
        else  {
            // if a single item remains selected, we want to populate its info in the sidebar
            if (checkedItems.length == 1) {
                startLoader();
                getItemInfo(checkedItems[0]);
            } else {
                // if final item gets unchecked, we clean the sidebar
                emptySidebar();
            }
            $( ".list-group-item[id='" + $( this ).val() + "']" ).removeClass( 'active' );
        }

        if (typeof displayActionMenuVariant === "function") {
            switch (checkedItems.length) {
                case 0: 
                    displayActionMenuVariant(0);
                    break;
                case 1:
                    displayActionMenuVariant(1);
                    break;
                default:
                    displayActionMenuVariant(2);
                    break;
            }
        }
    });

    /*  
        hovers and mousedowns done in JS as I need the parent to get the property when hovering over one of the child elements
        doesn't seem to be possible in pure CSS
    */
    $( ".list-content-group" ).hover(function() {
        $( this ).parent().addClass( 'hover' );
    }, function() {
        $( this ).parent().removeClass( 'hover' );
    });

    /*  
        following code is in case you want the list item to become a little smaller while being clicked
        I decided against it for now as I think it looks a bit classier if it just changes color 
    */
    /*
    $( ".list-content-group" ).mousedown(function() {
        $( this ).parent().css( "transform", "scale(0.99)" );
    });

    $( ".list-content-group" ).mouseup(function() {
        $( this ).parent().css( "transform", "scale(1)" );
    });
    */

    function deselectAllItems() {
        $( "input:checkbox" ).prop( "checked", false );
        $( ".list-group-item" ).removeClass( 'active' );
        //$( ".list-checkbox" ).change();
    };

    function getItemInfo(item_id) {
        $.get($SCRIPT_ROOT + "{{info_script_location|safe}}", {
                    id: item_id
                }, function(data) {
                    populateSidebar(data);
                }
            );
    }

    function getCheckedItemIds() {
        var itemList = $( ".list-checkbox:checked" ).get();
        var idList = [];
        for (var i = 0; i < itemList.length; i++) {
            idList.push(itemList[i].value);
        }
        return idList;
    }

    function emptySidebar() {
        $( ".sidebar-content" ).empty();
    }

    function populateSidebar(data) {
        $( ".sidebar-content" ).empty();
        $( ".sidebar-content" ).append( data );
    }

    // spinny thing when item is checked while AJAX retrieves the info
    function startLoader() {
        $( ".sidebar-content" ).empty();
        $( ".sidebar-content" ).append( "<div class='lds-dual-ring'></div>")
    }
</script>
{% endmacro %}

{% macro generate_saved_jobs_list(jobs) %}
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item mt-1" id="{{group['job_id']}}">
                <div>
                    Name: {{job['name']}}
                    Notes: {{job['notes']}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro generate_job_queue_list(jobs) %}
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item mt-1" id="{{group['job_id']}}">
                <div>
                    Name: {{job['name']}}
                    Notes: {{job['notes']}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro generate_process_list(processes) %}
    <span class="list-group-header">
        <div class="list-content col-1">Check</div>
        <div class="list-content col-2">Name</div>
        <div class="list-content col-2">Category</div>
        <div class="list-content col-2">Status</div>
        <div class="list-content col-2">Process Id</div>
    </span>
    <ul class="list-group">
        {% for process in processes %}
            <li class="list-group-item" id="{{process['pid']}}">
                <div class="list-checkbox-div">
                    {# autocomplete=off so that checkbox doesn't stay checked after refresh #}
                    <input type="checkbox" class="list-checkbox" autocomplete="off" value="{{process['pid']}}" id="{{process['pid']}}-box">
                </div>
                <div class="list-content-group">
                    <div class="inline-list-content col-2">
                        {{process['name']}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{process['category']}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{process['status']}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{process['pid']}}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {{ item_select_script('/settings/processes/_get_process_info') }}
{% endmacro %}