{% macro generate_menu(menu_item_list, active_menu, menu_header="Menu", sep=False) %}
<div class="menu-container">
    <ul class="menu-items" aria-orientation="vertical">
        {% for href, id, caption in menu_item_list %}
            <a class="menu-item {% if active_menu == id %}active{% endif %}" role="tab" href="{{ href }}">{{ caption }}</a>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro generate_sidebar() %}
<div class="sidebar-resize-bar"></div>
<nav id="sidebar" class="flex-col sidebar-container">
    <div class="container sidebar-content">

    </div>
</nav>
<script type="text/javascript">
    var handlerDragging = false;
    var handler = $( ".sidebar-resize-bar" ).get(0);
    var wrapper = $( ".flex-wrapper" ).get(0);

    $( document ).mousedown(function(e) {
        if (e.target === handler) {
            handlerDragging = true;
            $( "body" ).css( "cursor", "ew-resize");
        }
    });

    $( document ).mousemove(function(e) {
        if (!handlerDragging) {
            return false;
        }
        var containerOffsetLeft = wrapper.offsetLeft;
        var pointerRelativeXpos = e.pageX - containerOffsetLeft;

        $( ".menu-content" ).css("width", (pointerRelativeXpos) + "px");
        $( ".menu-content" ).css("flexGrow", "0");
    });

    $( document ).mouseup(function(e) {
        handlerDragging = false;
        $( "body" ).css( "cursor", "default");
    });
</script>
{% endmacro %}

{# we can use this to generate a simple action menu for list items
    the action menu can include functionality of deleting items, adding new
    items, editing items, and other such things #}
{% macro generate_action_menu(action_item_list, action_script_root) %}
<div class="action-menu">
    {% for variant, item_list in action_item_list.items() %}
    <ul class='variant-{{variant}} action-menu-item-list'>
        {% for item in item_list %}
                <li class="action-menu-item" action="{{item['action']}}">
                    <button class="action-menu-item-button" onclick="handleAction('{{item['action']}}')"> {# this might look like an error, but it works #}
                        <img class="action-menu-item-icon" src="{{item['icon']}}" alt="{{item['action_name']}}">
                        {{item['action_name']}}
                    </button>
                </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
<script type="text/javascript">
    function handleAction(action_name) {
        switch(action_name) {
            case "delete":
                var itemsToDelete = getCheckedItemIds();
                $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + "{{action_script_root + '_delete'|safe}}",
                    contentType: "application/json",
                    data: JSON.stringify({item_ids: itemsToDelete}),
                    dataType: "json",
                    success: function(response) {
                        location.reload();
                    },
                    error: function(error) {
                        location.reload();
                    }
                });
                break;
            case "edit":
                // should only have one item checked in the 'edit' function which is why we only get the first item
                var itemToEdit = getCheckedItemIds()[0];
                /*$.get($SCRIPT_ROOT + "{{action_script_root + '_edit'|safe}}", {
                        item_id: item_id
                    }, function(data) {
                        populateSidebar(data);
                    }
                );*/
                window.location.replace("{{ action_script_root + '_edit/' }}" + itemToEdit)
                break;
            case "add":
                window.location.replace("{{ action_script_root + '_add' }}")
                break;
            default:
                alert("Unsupported function");
        }
    }
    
    // chooses which action menu variant to display
    // variants are essentially based on how many list items are selected
    // if no items selected, variant is 0
    // if 1 item is selected, variant is 1
    // if 2+ items are selected, variant is 2
    // variant 3 is always visible
    function displayActionMenuVariant(variant) {
        $( ".action-menu-item-list" ).css("display", "none");
        $( ".action-menu-item-list.variant-" + variant.toString()).css("display", "inline-block");
        $( ".action-menu-item-list.variant-3" ).css("display", "inline-block");
    }
</script>
{% endmacro %}