{% extends "jobs/jobs.html" %}
{% set active_menu = "job_history" %}
{% from "menu_generator.html" import generate_action_menu %}
{% from "list_generators.html" import item_select_script_table %}
{% set action_menu_list = [
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/jobs/job_history/') }}
    <table class="ub-table">
        <tr class="ub-table-header-row">
            <th class="ub-table-header table-col-05">Check</th>
            <th class="ub-table-header table-col-1">Status</th>
            <th class="ub-table-header table-col-2">Name</th>
            <th class="ub-table-header table-col-2">Type</th>
            <th class="ub-table-header table-col-2">Engine</th>
            <th class="ub-table-header table-col-2">Time Elapsed</th>
        </tr>
        {% for item in items.items %}
            <tr class="ub-table-data-row" id="{{ item['id'] }}">
                <td class="ub-table-data table-col-05 table-checkbox-div">
                    <input type="checkbox" class="table-checkbox list-checkbox" autocomplete="off" value="{{item['id']}}" id="{{item['id']}}-box">
                </td>
                <td class="ub-table-data table-data-item table-col-1">{{ item['status'] }}</td>
                <td class="ub-table-data table-data-item table-col-2">{{ item['name'] }}</td>
                <td class="ub-table-data table-data-item table-col-2">{{ item['type'] }}</td>
                <td class="ub-table-data table-data-item table-col-2">{{ item['engine'] }}</td>
                <td class="ub-table-data table-data-item table-col-2">{{ item['time_elapsed'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ item_select_script_table('/jobs/job_history/_get_history_info') }}
{% endblock menu_content %}