{% extends "jobs/jobs.html" %}
{% set active_menu = "saved_jobs" %}
{% from "menu_generator.html" import generate_action_menu %}
{% from "list_generators.html" import item_select_script %}
{% set action_menu_list = [
    {'action_name': 'Add', 'action': 'add', 'icon': 'fas fa-plus-square', 'variant': '0'},
    {'action_name': 'Edit', 'action': 'edit', 'icon': 'fas fa-edit', 'variant': '1'},
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'},
    {'action_name': 'Run Now', 'action': 'run_jobs', 'icon': 'fas fa-play-circle', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/jobs/saved_jobs/') }}
    <span class="list-group-header">
        <div class="inline-list-content col-1">Check</div>
        <div class="inline-list-content col-1">Id</div>
        <div class="inline-list-content col-2">Name</div>
        <div class="inline-list-content col-3">Last Successful Run</div>
    </span>
    <div class="list-view">
        <ul class="list-group">
            {% for item in items.items %}
                <li class="list-group-item" id="{{item['id']}}">
                    <div class="list-checkbox-div">
                        {# autocomplete=off so that checkbox doesn't stay checked after refresh #}
                        <input type="checkbox" class="list-checkbox" autocomplete="off" value="{{item['id']}}" id="{{item['id']}}-box">
                    </div>
                    <div class="list-content-group">
                        <div class="inline-list-content col-1">
                            {{item['id']}}
                        </div>
                        <div class="inline-list-content col-1">
                            {{item['name']}}
                        </div>
                        <div class="inline-list-content col-2">
                            {{item['last_run']}}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {{ item_select_script('/jobs/saved_jobs/_get_saved_job_info') }}
{% endblock menu_content %}