{% extends "repositories/repositories.html" %}
{% set active_menu = "physical_location_types" %}
{% block menu_content %}
    <form class="ub-form form-style-1" method="POST" action="" enctype="multipart/form-data"><!-- enctype required for images or something -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group-fieldset">
            <legend class="border-bottom">General Job Attributes</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid input-field") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control input-field") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.engine_name.label(class="form-control-label") }}
                {% if form.engine_name.errors %}
                {{ form.engine_name(class="form-control is-invalid input-field") }}
                <div class="invalid-feedback">
                    {% for error in form.engine_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.engine_name(class="form-control input-field") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.engine_class.label(class="form-control-label") }}
                {% if form.engine_class.errors %}
                {{ form.engine_class(class="form-control is-invalid input-field") }}
                <div class="invalid-feedback">
                    {% for error in form.engine_class.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.engine_class(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control input-field") }}
            </div>
        </fieldset>
    </form>

    <script type="text/javascript">
        $( "#engine_name" ).change(get_engine_classes);

        function get_engine_classes(event) {
            $( "#engine_class" ).empty();
            $.getJSON("{{ url_for('jobs.get_engine_classes') }}", { engine_name: $( "#engine_name" ).val() }).done(
                function(data) {
                    var i = 0;
                    for (i = 0; i < data.length; i++) {
                        var newOption = new Option(data[i], data[i]);
                        $(newOption).html(data[i]);
                        $ ("#engine_class" ).append(newOption);
                    }
                }
            );
        }
    </script>
{% endblock menu_content %}