{% extends "system/system.html" %}
{% from "list_generators.html" import generate_credential_list %}
{% from "menu_generator.html" import generate_action_menu %}
{% set active_menu = 'credentials' %}
{% set action_menu_list = [
    {'action_name': 'Edit', 'action': 'edit', 'icon': 'fas fa-edit', 'variant': '1'},
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/system/credentials/') }}
    <div class="container">
        {% if credential_database_encrypted %}
            Credential database encrypted
            {% if credential_database_locked %}
                <div>
                    Credential database locked
                    <p></p>
                    <button type="button" onclick="location.href='{{ url_for('system.unlock_credentials') }}'" class="btn btn-success">Unlock</button>
                    <!--<button type="button" onclick="location.href='{{ url_for('system.decrypt_credentials') }}'" class="btn btn-success">Decrypt</button>-->
                </div>
            {% else %}
                <div>
                    Credential database unlocked
                    <button type="button" onclick="location.href='{{ url_for('system.lock_credentials') }}'" class="btn btn-success">Lock</button>
                    <button type="button" onclick="location.href='{{ url_for('system.decrypt_credentials') }}'" class="btn btn-success">Decrypt</button>
                </div>
            {% endif %}
        {% else %}
            <div>
                Credential database not encrypted
                <button type="button" onclick="location.href='{{ url_for('system.encrypt_credentials') }}'" class="btn btn-danger">Encrypt</button>
            </div>
        {% endif %}
    </div>
    {{ generate_credential_list(credential_groups) }}
{% endblock menu_content %}