.app-header {
    color: #000000;
    background-color: #ffffff;
}

.navbar .nav-pills > li > a {
    color: #005580;
}

.navbar .nav-pills > li > a:hover {
    background-color: #ffe0b2;
}

.navbar .nav-pills .active > a {
    background-color: #ff9800;
    color: #ffffff;
}

.menu-container {
    border-right: 1px dashed #333;
    background-color: #ddddff;
    min-height: 1000;
}

.menu-item .nav-link{
    background-color: #c5cae9;
}

.menu-item .nav-link .active{
    background-color: #5c6bc0;
}